# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# TACO Specific

# dep stuff
vendor
_vendor*

# For the local build
taco

# For the docker build
main

# For Swagger Tools
.swagger-codegen
.swagger-codegen-ignore
