{
  "swagger": "2.0",
  "info": {
    "description": "TACO, the Stanford Digital Repository (SDR) Management Layer API",
    "version": "0.1.0",
    "title": "taco",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "sdr.dlss.stanford.edu",
  "basePath": "/v1",
  "schemes": ["http"],
  "securityDefinitions" : {
    "RemoteUser" : {
     "type": "apiKey",
     "in" : "header",
     "name" : "On-Behalf-Of"
    }
  },
  "paths": {
    "/resource": {
      "post": {
        "summary": "Deposit New TACO Resource.",
        "description": "Deposits a new resource (Collection, Digital Repository Object, File [metadata only] or subclass of those) into SDR. Will return the SDR identifier for the resource.",
        "security" : [
          { "RemoteUser": [] }
        ],
        "operationId": "depositResource",
        "consumes": ["application/json", "application/json+ld"],
        "produces": ["application/json"],
        "parameters": [ {
          "in": "body",
          "name": "payload",
          "description": "JSON-LD representation of the resource metadata going into SDR. Needs to fit the SDR 3.0 MAP requirements.",
          "required": true,
          "schema": {
            "$ref": "#/definitions/Resource"
          }
        } ],
        "responses": {
          "201": {
            "description": "TACO resource created & processing started.",
            "schema": {
              "$ref": "#/definitions/ResourceResponse"
            }
          },
          "401": {
            "description": "You are not authorized to create a resource in TACO."
          },
          "415": {
            "description": "Unsupported resource type provided. TACO resources should be handed over as JSON or JSON-LD."
          },
          "422": {
            "description": "The resource JSON provided had an unspecified or unsupported field, or is otherwise unprocessable by TACO.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "This resource could be created at this time by TACO."
          }
        }
      }
    },
    "/resource/{ID}": {
      "get": {
        "summary": "Retrieve TACO Resource Metadata.",
        "description": "Retrieves the metadata (as JSON-LD following our SDR3 MAP v.1) for an existing TACO resource (Collection, Digital Repository Object, File metadata object [not binary] or subclass of those). The resource is identified by the TACO identifier.",
        "security" : [
          { "RemoteUser": [] }
        ],
        "operationId": "retrieveResource",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "description": "TACO Resource Identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "type": "string",
            "description": "The version of the requested resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource metadata retrieved.",
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          },
          "401": {
            "description": "You are not authorized to view this resource in TACO."
          },
          "404": {
            "description": "Resource not found. Please check your provided TACO identifier."
          },
          "500": {
            "description": "The resource could not be retrieved by TACO at this time."
          }
        }
      },
      "patch": {
        "summary": "Update TACO Resource.",
        "description": "Updates the metadata for an existing TACO resource (Collection, Digital Repository Object, File metadata object [not binary] or subclass of those). Only include the required fields and the fields you wish to have changed. Will return the TACO resource identifier.",
        "security" : [
          { "RemoteUser": [] }
        ],
        "operationId": "updateResource",
        "consumes": ["application/json", "application/json+ld"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "ID",
          "in": "path",
          "description": "SDR Identifier for the Resource.",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "payload",
          "description": "JSON-LD Representation of the resource metadata required fields and only the fields you wish to update (identified via its TACO identifier). Needs to fit the SDR 3.0 MAP requirements.",
          "required": true,
          "schema": {
            "$ref": "#/definitions/Resource"
          }
        }],
        "responses": {
          "200": {
            "description": "TACO resource metadata updated & processing started.",
            "schema": {
              "$ref": "#/definitions/ResourceResponse"
            }
          },
          "401": {
            "description": "You are not authorized to update a resource in TACO."
          },
          "404": {
            "description": "Invalid ID supplied"
          },
          "415": {
            "description": "Unsupported resource type provided. TACO resources should be handed over as JSON or JSON-LD."
          },
          "422": {
            "description": "The resource JSON provided had an unspecified or unsupported field, or is otherwise unprocessable by TACO.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "This resource could be updated at this time by TACO."
          }
        }
      },
      "delete": {
        "summary": "Delete a TACO Resource.",
        "description": "Deletes a TACO resource (Collection, Digital Repository Object, File resource (metadata) and File binary, or subclass of those).",
        "security" : [
          { "RemoteUser": [] }
        ],
        "operationId": "deleteResource",
        "produces": ["application/json"],
        "parameters": [{
          "name": "ID",
          "in": "path",
          "description": "SDR Identifier for the Resource.",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "204": {
            "description": "TACO resource metadata delete."
          },
          "404": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "You are not authorized to delete a resource in TACO."
          },
          "500": {
            "description": "This resource could not be deleted at this time by TACO."
          }
        }
      }
    },
    "/resource/{FilesetID}/file": {
      "post": {
        "summary": "Deposit New File (binary).",
        "description": "Deposits a new File (binary) into SDR. Will return the SDR identifier for the File resource (aka the metadata object generated and persisted for management of the provided binary).",
        "security" : [
          { "RemoteUser": [] }
        ],
        "operationId": "depositFile",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "FilesetID",
            "in": "path",
            "description": "Fileset identifier. This points at the container for this file.",
            "required": true,
            "type": "string"
          },{
          "in": "formData",
          "name": "upload",
          "type": "file",
          "description": "Binary to be added to an Object in TACO.",
          "required": true
        }],
        "responses": {
          "201": {
            "description": "TACO binary ingested, File management metadata created, & File processing started.",
            "schema": {
              "$ref": "#/definitions/ResourceResponse"
            }
          },
          "401": {
            "description": "You are not authorized to ingest a File into TACO."
          },
          "415": {
            "description": "Unsupported file type provided."
          },
          "404": {
            "description": "Resource not found. Check that the provide identifier is correct.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "This file could be ingested at this time by TACO."
          }
        }
      }
    },
    "/file/{ID}": {
      "get": {
        "summary": "Retrieve TACO managed binary.",
        "description": "Retrieves the binary associated with the TACO identifier.",
        "security" : [
          { "RemoteUser": [] }
        ],
        "operationId": "retrieveFile",
        "parameters": [{
          "name": "ID",
          "in": "path",
          "description": "TACO Resource Identifier.",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "302": {
            "description": "The location of the requested binary content.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "You are not authorized to retrieve this resource's binary."
          },
          "404": {
            "description": "Resource not found. Please check your provided TACO identifier."
          },
          "500": {
            "description": "This resource's binary could not be retrieved at this time by TACO."
          }
        }
      }
    },
    "/status/{ID}": {
      "get": {
        "summary": "Resource Processing Status.",
        "description": "Get the processing status and history for a resource.",
        "security" : [
          { "RemoteUser": [] }
        ],
        "operationId": "getProcessStatus",
        "produces": ["application/json"],
        "parameters": [{
          "name": "ID",
          "in": "path",
          "description": "SDR Identifier for the Resource.",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Processing status for the TACO resource.",
            "schema": {
              "$ref": "#/definitions/ProcessResponse"
            }
          },
          "401": {
            "description": "You are not authorized to view this resource's processing status in TACO."
          },
          "404": {
            "description": "Resource not found. Please check your provided TACO identifier."
          },
          "500": {
            "description": "This resource's processing status could be retrieved at this time by TACO."
          }
        }
      }
    },
    "/healthcheck": {
      "get": {
         "summary": "Health Check",
         "description": "The healthcheck endpoint provides information about the health of the service.",
         "operationId": "healthCheck",
         "responses": {
           "200": {
             "description": "The service is functioning nominally",
             "schema": {
               "$ref": "#/definitions/HealthCheckResponse"
             }
           },
           "503": {
             "description": "The service is not working correctly",
             "schema": {
               "$ref": "#/definitions/HealthCheckResponse"
             }
           }
         }
      }
    }
  },
  "definitions": {
    "Resource": {
      "type": "object"
    },
    "ResourceResponse": {
      "type": "object"
    },
    "ProcessResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "oo000oo0001"
        }
      },
      "example": {
        "id": "oo000oo0001"
      }
    },
    "HealthCheckResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "The status of the service"
        }
      },
      "example": {
        "status": "OK"
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    },
    "Error" : {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "a short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem.",
          "example": "Invalid Attribute"
        },
        "detail": {
          "type": "string",
          "description": "a human-readable explanation specific to this occurrence of the problem.",
          "example": "Title must contain at least three characters."
        },
        "source": {
          "type": "object",
          "properties": {
            "pointer": {
              "type": "string",
              "example": "/data/attributes/title"
            }
          }
        }
      }
    }
  }
}
