{
  "swagger": "2.0",
  "info": {
    "description": "TACO, the Stanford Digital Repository (SDR) Management Layer API",
    "version": "0.1.0",
    "title": "taco",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "sdr.dlss.stanford.edu",
  "basePath": "/v1",
  "schemes": ["http"],
  "paths": {
    "/resource": {
      "post": {
        "summary": "Deposit New TACO Resource.",
        "description": "Deposits a new resource (Collection, Digital Repository Object, File [metadata only] or subclass of those) into SDR. Will return the SDR identifier for the resource.",
        "operationId": "depositResource",
        "consumes": ["application/json", "application/json+ld"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "payload",
          "description": "JSON-LD representation of the resource metadata going into SDR. Needs to fit the SDR 3.0 MAP requirements.",
          "required": true,
          "schema": {
            "$ref": "#/definitions/DepositResource"
          }
        }],
        "responses": {
          "201": {
            "description": "TACO resource created & processing started.",
            "schema": {
              "$ref": "#/definitions/ResourceResponse"
            }
          },
          "401": {
            "description": "You are not authorized to create a resource in TACO."
          },
          "415": {
            "description": "Unsupported resource type provided. TACO resources should be handed over as JSON or JSON-LD."
          },
          "422": {
            "description": "The resource JSON provided had an unspecified or unsupported field, or is otherwise unprocessable by TACO.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "This resource could be created at this time by TACO."
          }
        }
      }
    },
    "/resource/{ID}": {
      "get": {
        "summary": "Retrieve TACO Resource Metadata.",
        "description": "Retrieves the metadata (as JSON-LD following our SDR3 MAP v.1) for an existing TACO resource (Collection, Digital Repository Object, File metadata object [not binary] or subclass of those). The resource is identified by the TACO identifier.",
        "operationId": "retrieveResource",
        "produces": ["application/json"],
        "parameters": [{
          "name": "ID",
          "in": "path",
          "description": "TACO Resource Identifier.",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Resource metadata retrieved.",
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          },
          "401": {
            "description": "You are not authorized to view this resource in TACO."
          },
          "404": {
            "description": "Resource not found. Please check your provided TACO identifier."
          },
          "500": {
            "description": "The resource could not be retrieved by TACO at this time."
          }
        }
      },
      "patch": {
        "summary": "Update TACO Resource.",
        "description": "Updates the metadata for an existing TACO resource (Collection, Digital Repository Object, File metadata object [not binary] or subclass of those). Only include the required fields and the fields you wish to have changed. Will return the TACO resource identifier.",
        "operationId": "updateResource",
        "consumes": ["application/json", "application/json+ld"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "ID",
          "in": "path",
          "description": "SDR Identifier for the Resource.",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "payload",
          "description": "JSON-LD Representation of the resource metadata required fields and only the fields you wish to update (identified via its TACO identifier). Needs to fit the SDR 3.0 MAP requirements.",
          "required": true,
          "schema": {
            "$ref": "#/definitions/Resource"
          }
        }],
        "responses": {
          "200": {
            "description": "TACO resource metadata updated & processing started.",
            "schema": {
              "$ref": "#/definitions/ResourceResponse"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "You are not authorized to update a resource in TACO."
          },
          "415": {
            "description": "Unsupported resource type provided. TACO resources should be handed over as JSON or JSON-LD."
          },
          "422": {
            "description": "The resource JSON provided had an unspecified or unsupported field, or is otherwise unprocessable by TACO.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "This resource could be updated at this time by TACO."
          }
        }
      },
      "delete": {
        "summary": "Delete a TACO Resource.",
        "description": "Deletes a TACO resource (Collection, Digital Repository Object, File resource (metadata) and File binary, or subclass of those).",
        "operationId": "deleteResource",
        "produces": ["application/json"],
        "parameters": [{
          "name": "ID",
          "in": "path",
          "description": "SDR Identifier for the Resource.",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "TACO resource metadata delete.",
            "schema": {
              "$ref": "#/definitions/ResourceResponse"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "You are not authorized to delete a resource in TACO."
          },
          "500": {
            "description": "This resource could not be deleted at this time by TACO."
          }
        }
      }
    },
    "/file": {
      "post": {
        "summary": "Deposit New File (binary).",
        "description": "Deposits a new File (binary) into SDR. Will return the SDR identifier for the File resource (aka the metadata object generated and persisted for management of the provided binary).",
        "operationId": "depositFile",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "formData",
          "name": "upload",
          "type": "file",
          "description": "Binary to be added to an Object in TACO.",
          "required": true
        }],
        "responses": {
          "201": {
            "description": "TACO binary ingested, File management metadata created, & File processing started.",
            "schema": {
              "$ref": "#/definitions/ResourceResponse"
            }
          },
          "401": {
            "description": "You are not authorized to ingest a File into TACO."
          },
          "415": {
            "description": "Unsupported file type provided."
          },
          "500": {
            "description": "This file could be ingested at this time by TACO."
          }
        }
      }
    },
    "/status/{ID}": {
      "get": {
        "summary": "Resource Processing Status.",
        "description": "Get the processing status and history for a resource.",
        "operationId": "getProcessStatus",
        "produces": ["application/json"],
        "parameters": [{
          "name": "ID",
          "in": "path",
          "description": "SDR Identifier for the Resource.",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Processing status for the TACO resource.",
            "schema": {
              "$ref": "#/definitions/ProcessResponse"
            }
          },
          "401": {
            "description": "You are not authorized to view this resource's processing status in TACO."
          },
          "404": {
            "description": "Resource not found. Please check your provided TACO identifier."
          },
          "500": {
            "description": "This resource's processing status could be retrieved at this time by TACO."
          }
        }
      }
    },
    "/healthcheck": {
      "get": {
        "summary": "Health Check",
        "description": "The healthcheck endpoint provides information about the health of the service.",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "The service is functioning nominally",
            "schema": {
              "$ref": "#/definitions/HealthCheckResponse"
            }
          },
          "503": {
            "description": "The service is not working correctly",
            "schema": {
              "$ref": "#/definitions/HealthCheckResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DepositResource":
    {
      "title": "Deposit Resource",
      "description": "Create Request Domain Resource (Collection, Object, Fileset, or File or any subclass of those) Request Body. For TACO API high-level validation of incoming resources.",
      "type": "object",
      "required": ["@context", "@type", "label", "administrative", "access", "structural"],
      "properties": {
        "@context": {
          "description": "URI for the JSON-LD context definitions.",
          "type": "string"
        },
        "@type": {
          "description": "The content type of the domain resource.",
          "type": "string",
          "enum": [
            "http://sdr.sul.stanford.edu/models/sdr3-collection.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-curated-collection.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-user-collection.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-exhibit.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-series.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-object.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-3d.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-agreement.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-book.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-document.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-geo.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-image.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-page.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-photograph.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-manuscript.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-map.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-media.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-track.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-webarchive-binary.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-webarchive-seed.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-file.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-fileset.jsonld"
          ]
        },
        "label": {
          "description": "Primary processing label (can be same as title) for a resource.",
          "type": "string"
        },
        "access": {
          "description": "Access Metadata for the Resource.",
          "type": "object",
          "required": ["access", "download"],
          "additionalProperties": {
            "type": "string"
          },
          "properties": {
            "access": {
              "description": "Access level for the resource.",
              "type": "string",
              "enum": ["world", "stanford", "location-based", "citation-only", "dark"]
            },
            "download": {
              "description": "Download level for the resource metadata.",
              "type": "string",
              "enum": ["world", "stanford", "location-based", "citation-only", "dark"]
            }
          }
        },
        "administrative": {
          "type": "object",
          "description": "Administrative metadata for the SDR resource.",
          "required": ["sdrPreserve"],
          "properties": {
            "sdrPreserve": {
              "description": "If this resource should be sent to Preservation.",
              "type": "boolean"
            }
          }
        },
        "identification": {
          "type": "object",
          "description": "Identifying information for the resource.",
          "properties": {
            "sourceId":  {
              "description": "For anything that cannot cleanly map into is representation of.",
              "type": "string"
            }
          }
        },
        "structural": {
          "description": "Structural metadata for the Resource.",
          "type": "object",
          "required": ["hasAgreement"],
          "properties": {
            "hasAgreement": {
              "description": "Agreement that covers the deposit of the resource into SDR.",
              "type": "string"
            }
          }
        }
      }
    },
    "Resource": {
      "description": "Update / Retrieve Request Domain Resource (Collection, Object, Fileset, or File or any subclass of those) Request Body. For TACO API high-level validation of incoming / outgoing resources.",
      "type": "object",
      "required": ["@context", "@type", "currentVersion", "depositor", "id", "label", "version", "administrative", "access", "identification", "structural"],
      "properties": {
        "@context": {
          "description": "URI for the JSON-LD context definitions.",
          "type": "string"
        },
        "@type": {
          "description": "The content type of the domain resource.",
          "type": "string",
          "enum": [
            "http://sdr.sul.stanford.edu/models/sdr3-collection.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-curated-collection.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-user-collection.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-exhibit.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-series.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-object.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-3d.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-agreement.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-book.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-document.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-geo.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-image.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-page.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-photograph.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-manuscript.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-map.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-media.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-track.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-webarchive-binary.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-webarchive-seed.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-file.jsonld",
            "http://sdr.sul.stanford.edu/models/sdr3-fileset.jsonld"
          ]
        },
        "currentVersion": {
          "description": "If this is the current version (most recent version) for the resource.",
          "type": "boolean"
        },
        "depositor": {
          "description": "The Agent who deposited the resource",
          "type": "object",
          "required": ["name"],
          "properties": {
            "name": {
              "description": "Primary label or name for an Agent.",
              "type": "string"
            },
            "sunetID": {
              "description": "Stanford University NetID for the Agent.",
              "type": "string"
            }
          }
        },
        "id": {
          "description": "Identifier for the resource within TACO (should, but may not, overlap with `identification.identifier`, which is the SDR3 Identifier).",
          "type": "string"
        },
        "label": {
          "description": "Primary processing label (can be same as title) for a resource.",
          "type": "string"
        },
        "version": {
          "description": "Version for the Collection within SDR.",
          "type": "integer"
        },
        "access": {
          "description": "Access Metadata for the Resource.",
          "type": "object",
          "required": ["access", "download"],
          "properties": {
            "access": {
              "description": "Access level for the resource.",
              "type": "string",
              "enum": ["world", "stanford", "location-based", "citation-only", "dark"]
            },
            "download": {
              "description": "Download level for the resource metadata.",
              "type": "string",
              "enum": ["world", "stanford", "location-based", "citation-only", "dark"]
            }
          }
        },
        "administrative": {
          "type": "object",
          "description": "Administrative metadata for the SDR resource.",
          "required": ["created", "isDescribedBy", "sdrPreserve"],
          "properties": {
            "created": {
              "description": "When the resource in SDR was created.",
              "type": "string",
              "format": "date-time"
            },
            "isDescribedBy": {
              "description": "Pointer to the PURL/XML file that is a traditional representation of the metadata for the resource.",
              "type": "string"
            },
            "sdrPreserve": {
              "description": "If this resource should be sent to Preservation.",
              "type": "boolean"
            }
          }
        },
        "identification": {
          "type": "object",
          "description": "Identifying information for the resource.",
          "required": ["identifier", "sdrUUID"],
          "properties": {
            "identifier": {
              "description": "Identifier for the Collection within SDR.",
              "type": "string"
            },
            "sdrUUID": {
              "type": "string",
              "description": "UUID for the Collection within TACO."
            }
          }
        },
        "structural": {
          "description": "Structural metadata for the Resource.",
          "type": "object",
          "required": ["hasAgreement"],
          "properties": {
            "hasAgreement": {
              "description": "Agreement that covers the deposit of the resource into SDR.",
              "type": "string"
            }
          }
        }
      }
    },
    "ResourceResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "oo000oo0001"
        }
      },
      "example": {
        "id": "oo000oo0001"
      }
    },
    "ProcessResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "oo000oo0001"
        }
      },
      "example": {
        "id": "oo000oo0001"
      }
    },
    "HealthCheckResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "The status of the service"
        }
      },
      "example": {
        "status": "OK"
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "a short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem.",
          "example": "Invalid Attribute"
        },
        "detail": {
          "type": "string",
          "description": "a human-readable explanation specific to this occurrence of the problem.",
          "example": "Title must contain at least three characters."
        },
        "source": {
          "type": "object",
          "properties": {
            "pointer": {
              "type": "string",
              "example": "/data/attributes/title"
            }
          }
        }
      }
    }
  }
}
