{
  "swagger" : "2.0",
  "info" : {
    "description" : "TACO, the Stanford Digital Repository (SDR) Management Layer interface",
    "version" : "0.0.1",
    "title" : "taco",
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "sdr.dlss.stanford.edu",
  "basePath" : "/v1",
  "schemes" : [ "http" ],
  "paths" : {
    "/resource" : {
      "post" : {
        "summary" : "Deposit a new resource into SDR.",
        "description" : "Deposits a new resource (Collection, Digital Repository Object, Fileset, or subclass of those) into SDR. Will return the SDR identifier for the resource.",
        "operationId" : "depositNewResource",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "JSON-LD Representation of the resource metadata going into SDR. Needs to fit the SDR 3.0 MAP requirements.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Resource"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "405" : {
            "description" : "Invalid input"
          }
        }
      }
    },
    "/resource/{ID}" : {
      "get" : {
        "summary" : "Retrieve the metadata for a deposited / existing resource within SDR.",
        "description" : "Retrieves the metadata (as JSON-LD and SDR MAP) for an existing, deposited resource (Collection, Digital Repository Object, Fileset, File metadata object [not binary] or subclass of those) in SDR. The resource is identified by the DRUID or SDR identifier assigned.",
        "operationId" : "retrieveResource",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "ID",
          "in" : "path",
          "description" : "SDR Identifier for the Resource.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Resource"
            }
          },
          "404" : {
            "description" : "Resource not found"
          }
        }
      },
      "patch" : {
        "summary" : "Update an existing / deposited resource in SDR.",
        "description" : "Updates an existing, deposited resource (Collection, Digital Repository Object, Fileset, File metadata object [not binary] or subclass of those) into SDR. Only include the required fields then the fields you wish to have changed. Will return the SDR identifier for the updated resource.",
        "operationId" : "updateResource",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "ID",
          "in" : "path",
          "description" : "SDR Identifier for the Resource.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON-LD Representation of the resource metadata you want to change for that specified resouce (identified via its identifier or DRUID). Needs to fit the SDR 3.0 MAP requirements.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Resource"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Invalid ID supplied"
          },
          "404" : {
            "description" : "Resource not found"
          },
          "405" : {
            "description" : "Validation exception"
          }
        }
      }
    },
    "/file" : {
      "post" : {
        "summary" : "Deposit a new File (binary) into SDR.",
        "description" : "Deposits a new File (binary) into SDR. Will return the SDR identifier for the File resource (aka the metadata object generated and persisted for File management).",
        "operationId" : "depositNewFile",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "File / Binary.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/File"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "405" : {
            "description" : "Invalid input"
          }
        }
      }
    }
  },
  "definitions" : {
    "Resource" : {
      "type" : "object",
      "required" : [ "sourceId", "title" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "example" : "oo000oo0001"
        },
        "title" : {
          "type" : "string",
          "example" : "My work"
        },
        "sourceId" : {
          "type" : "string",
          "example" : "bib12345678"
        }
      },
      "example" : {
        "sourceId" : "bib12345678",
        "id" : "oo000oo0001",
        "title" : "My work"
      }
    },
    "File" : {
      "type" : "object",
      "required" : [ "UUID", "filename" ],
      "properties" : {
        "filename" : {
          "type" : "string",
          "example" : "mybook.pdf"
        },
        "UUID" : {
          "type" : "string",
          "example" : "a03eea52-77a0-4e55-9026-b022d61c89fc"
        }
      },
      "example" : {
        "filename" : "mybook.pdf",
        "UUID" : "a03eea52-77a0-4e55-9026-b022d61c89fc"
      }
    }
  }
}