version: 2
jobs:
  build_and_test:
    docker:
      - image: circleci/golang:1.8
    working_directory: /go/src/github.com/sul-dlss-labs/taco
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: go get -t
      - run:
          name: Run Tests
          command: go test -v ./...

  register_image:
    docker:
      - image: circleci/golang:1.8
    working_directory: /go/src/github.com/sul-dlss-labs/taco
    steps:
      - setup_remote_docker:
          version: 17.09.0-ce
      - checkout
      - run:
          name: Build Image & Register Task
          command: |
            docker build -t suldlss/taco:$CIRCLE_SHA1 .
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            docker push suldlss/taco:$CIRCLE_SHA1

  # deploy_to_dev:
  #   docker:
  #     - image: circleci/golang:1.8
  #   working_directory: /go/src/github.com/sul-dlss-labs/taco
  #   steps:
  #     - run:
  #         name: Install AWS CLI
  #         command: |
  #           sudo apt-get install -y python-pip libyaml-dev python-dev jq
  #           sudo pip install awscli
  #     - checkout
  #     - run:
  #         name: Inject Environment Variables into Container (dev)
  #         command: |
  #           sed -i "s|REPLACE_TAG|$CIRCLE_SHA1|" container-definition.json
  #           cat container-definition.json  # Print task definition in logs
  #     - run:
  #         name: Register Task & Update Service (dev)
  #         command: |
  #           export AWS_ACCESS_KEY_ID=$DEV_AWS_KEY
  #           export AWS_SECRET_ACCESS_KEY=$DEV_AWS_SECRET
  #           aws configure set region $DEV_AWS_REGION
  #           aws configure set default.output json
  #           aws configure list  # Get confirmation it worked in your logs
  #           revision=$(aws ecs register-task-definition --cli-input-json file://container-definition.json --region $DEV_AWS_REGION | jq --raw-output --exit-status '.taskDefinition.taskDefinitionArn')
  #           aws ecs update-service --cluster default --service taco --task-definition "$revision" --region $DEV_AWS_REGION

workflows:
  version: 2

  build_and_test:
    jobs:
      - build_and_test:
          filters:
            branches:
              ignore: master

  deploy_on_tags:
    jobs:
      - build_and_test:
          filters:
            branches:
              ignore: /.*/
            tags:
              only:
                - /v[0-9]+(\.[0-9]+)*(-dev)/
      - register_image:
          requires:
            - build_and_test
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-dev)/
      # - deploy_to_dev:
      #     requires:
      #       - register_image
      #     filters:
      #       branches:
      #         ignore: /.*/
      #       tags:
      #         only: /v[0-9]+(\.[0-9]+)*(-dev)/

  deploy_master_to_dev:
    jobs:
      - build_and_test:
          filters:
            branches:
              only: master
            tags:
              ignore: /.*/
      - register_image:
          requires:
            - build_and_test
          filters:
            branches:
              only: master
            tags:
              ignore: /.*/
      # - deploy_to_dev:
      #     requires:
      #       - register_image
      #     filters:
      #       branches:
      #         only: master
      #       tags:
      #         ignore: /.*/
